.edit-prev-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2 {
  text-align: center;
}

.start-menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.startmenu-flash-message {
  position: absolute;
  left: 50%;
  bottom: -40%;
  font-style: italic;
  transform: translate(-50%, -50%);
}

.welcome {
  border-bottom: 6px solid #9c9c9c;
  margin-bottom: 30px;
}

.name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 8px 14px;
  /* border: none; */
}

.editor {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ql-editor {
  counter-reset: line;
  padding-left: 0;
}

.ql-editor p:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888
}

.comments-title {
  color: rgb(119, 119, 119);
  font-weight: normal;
  margin-bottom: 10px;
  font-style: italic;
}

.comment {
  margin-bottom: 20px;
}

.comment-user {
  margin: 0;
  margin-right: 10px;
  background-color: #e8e8e8;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 4px 7px;
}

.comments-add-button {
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
}

.comments-add {
  align-self: center;
  margin: 0 5px;
  cursor: pointer;
}

.comments-user-container {
  display: flex;
  margin-bottom: 7px;
}

.comment-fields {
  margin-left: 30px;
}

.comments-comment-num {
  display: block;
  margin-bottom: 8px;
}

.comments-comment {
  height: 50px;
  width: 600px;
  resize: none;
}

.comments-delete {
  align-self: center;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.toolbar {
  height: 60px;
  margin-bottom: 80px;
  background-color: rgb(189, 189, 189);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-left {
  display: flex;
  padding: 0 40px;
  gap: 30px;
}

.toolbar-right {
  padding-right: 50px;
}

.toolIcon:hover {
  cursor: pointer;
}

.toolbar-flash-message {
  position: absolute;
  top: 50px;
  left: 20px;
  font-style: italic;
}

.login-field-container {
  margin-bottom: 16px;
}

.login-field-label {
  padding-right: 10px;
}

.login-field {
  border: none;
  border-bottom: 1px solid rgb(148, 148, 148);
  margin: auto;
  margin-right: 20px;
  /* display: block; */
}

.login-field:focus {
  /* border: none;
  border-bottom: 1px solid rgb(148, 148, 148); */
  outline: none;
}

.login-submit {
  margin: 0 10px;
  border-radius: 4px;
  padding: 2px 5px;
}
.login-submit:hover {
  cursor: pointer;
}

#login-login {
  background-color: rgb(163, 255, 174);
}

#login-register {
  background-color: rgb(163, 255, 252);
}
